<div class="modal-content">
  <p *ngIf="task.id === 0">Add New Tasak</p>
  <p *ngIf="task.id > 0">Edit Task</p>
  <div class="from-group">
    <input [(ngModel)]="task.title" type="text" class="from-control" placeholder="Task Name">
  </div>
  <div class="from-group">
  <input [(ngModel)]="task.desc" type="text" class="from-control" placeholder="Task Description">
  </div>
  <button class="btn btn-primary" *ngIf="task.id === 0" (click)="onAddTask()">Add</button>
  <button class="btn btn-primary" *ngIf="task.id > 0" (click)="onEditTask()">Edit</button>
  &nbsp;<button class="btn btn-danger" (click)="bsModelRef.hide()">Cancel</button>
</div>



